<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer th:fragment="footer" class="container-fluid">
        
        <div class="footer-content row p-4">
            <div class="logo col-12 col-lg-3 d-none d-lg-block">
                <img th:src="@{/images/logo/LOGO.png}" alt="Logo healthy eats" style="height: 150px;">
            </div>
            <div class="box-footer col-12 col-lg-3 text-center text-lg-start">
                <ul class="ul-footer">
                    <li>Menú</li>
                    <li><a th:href="@{/index}">Inicio</a></li>
                    <li><a th:href="@{/imc/calculadora}" >Calculadora IMC</a></li>
                    <li><a th:href="@{/pesoideal}">Peso Ideal</a></li>
                    <li><a th:href="@{/testimonios/listado}">Testimonios</a></li>
                    <li><a th:href="@{/recetas/listado}">Recetas</a></li>
                    <li><a th:href="@{/contactos/formulario}">Contacto</a></li>
                </ul>
            </div>
            <div class="box-footer col-12 col-lg-3 text-center text-lg-start">
                <ul class="ul-footer">
                    <li>Redes</li>
                    <li><a href="#">TikTok</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div class="box-footer col-12 col-lg-3 text-center text-lg-start">
                <ul class="ul-footer">
                    <li>AYUDA</li>
                    <li><a href="#">ayuda@support.com</a></li>
                    <li><a href="#">+54 3884667898</a></li>
                    <li><a href="#">+54 3885274195</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>