<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-secundario">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo/LOGO.png}" alt="Logo healthy eats" width="24">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav w-100 justify-content-between">
                        <div class="principales d-flex flex-column flex-lg-row fs-5 justify-content-evenly">
                        <li class="nav-item">
                            <a class="nav-link text-principal" th:href="@{/index}">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-principal" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item fw-bold" th:href="@{/imc/calculadora}">CALCULAR IMC</a></li>
                                <li><a class="dropdown-item fw-bold" th:href="@{/pesoideal}">PESO IDEAL</a></li>
                                <li><a class="dropdown-item fw-bold" href="#">RECETAS</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-principal" href="#">Testimonios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-principal" th:href="@{/recetas/listado}" >Recetas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-principal" th:href="@{/contactos/formulario}">Contacto</a>
                        </li>
                        </div>
                        <div class="gestion fs-5 d-flex gap-3">
                            <div class="no-sesion d-flex gap-3" th:if="${sesion == null}">
                                <li class="nav-item">
                                    <a class=" nav-link text-principal btn-principal rounded" th:href="@{/usuario/nuevo-usuario}" >Registrarme</a>
                                </li>
                                <li class="nav-item">
                                    <a class=" nav-link text-principal btn-principal rounded" th:href="@{/usuario/sign-in}" >Iniciar sesion</a>
                                </li>
                            </div>
                            <div class="sesion d-flex gap-3 align-items-center" th:if="${sesion}">
                                <p class="m-0 text-principal" th:text="${'Usuario: ' + sesion.nombre}"></p>
                                <li class="nav-item">
                                    <a class=" nav-link text-principal btn-secundario rounded" th:href="@{/administracion}" th:if="${sesion.permisos}">Administración</a>
                                    <a class=" nav-link text-principal btn-secundario rounded" th:href="@{/usuario/editar-usuario}" th:unless="${sesion.permisos}">Editar Usuario</a>
                                </li>
                                <li class="nav-item">
                                    <a class=" nav-link text-principal btn-secundario rounded" th:href="@{/usuario/logout}">Log Out</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                    <!--<div class="buttons">
                        
                        
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
</body>
</html>