<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-secundario">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo/LOGO.png}" alt="Logo healthy eats" width="24">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav w-100 justify-content-between">
                        <div class="principales d-flex flex-column flex-lg-row fs-5 justify-content-evenly">
                        <li class="nav-item">
                            <a class="nav-link text-principal" th:href="@{/index}">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-principal" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item fw-bold" href="#">CALCULAR IMC</a></li>
                                <li><a class="dropdown-item fw-bold" th:href="@{/pesoideal}">PESO IDEAL</a></li>
                                <li><a class="dropdown-item fw-bold" href="#">RECETAS</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-principal" href="#">Testimonios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-principal" th:href="@{/recetas/listado}" >Recetas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-principal">Contacto</a>
                        </li>
                        </div>
                        <div class="gestion fs-5 d-flex">
                            <li class="nav-item">
                                <a class=" nav-link text-principal btn-principal rounded" th:href="@{/nuevo-usuario}" >Registrarme</a>
                            </li>
                            <!--<button class="btn btn-principal rounded" ></button>-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-principal" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestion
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
                                    <li><a class="dropdown-item fw-bold" href="#">Gestion Recetas</a></li>
                                    <li><a class="dropdown-item fw-bold" href="#">...</a></li>
                                    <li><a class="dropdown-item fw-bold" th:href="@{/recetas/nueva-receta}">Nueva Receta</a></li>
                                    <li><a class="dropdown-item fw-bold" th:href="@{/ingredientes/nuevo-ingrediente}">Nuevo Ingrediente</a></li>
                                    <li><a class="dropdown-item fw-bold" th:href="@{/categorias/nueva-categoria}">Nueva Categoria</a></li>

                                </ul>
                            </li>
                        </div>
                    </ul>
                    <!--<div class="buttons">
                        
                        
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
</body>
</html>