<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes</title>
    <link rel="shortcut icon" th:href="@{/images/logo/LOGO.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="~{layouts/header :: header}"></header>
    <div class="container-fluid p-5">
        <h2 class="text-principal mb-4">Ingredientes</h2>
        <div class="ingredientes">
            <div th:each="ingrediente : ${ingredientes}" class="ingrediente d-flex justify-content-between align-items-center gap-3 mb-4">
                <span class="fs-5" th:text="${ingrediente.nombre}"></span>
                <div class="ingrediente__acciones">
                    <a th:href="@{/ingredientes/editar-ingrediente/}+${ingrediente.id}"
                        class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                    <a th:href="@{/ingredientes/eliminar-ingrediente/}+${ingrediente.id}"
                        class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>