<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Receta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="~{layouts/header :: header}"></header>
    <div class="container-fluid p-4">
        <div class="formulario">
            <form th:action="@{/usuario/auth}" class="formulario-general" method="get">
                <h1 class="text-principal mb-4">Autenticación</h1>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="iduser" name="iduser" required>
                    <label for="iduser">Ingrese id</label>
                </div>
                <p th:if="${error}" th:text="${error}" class="text-danger"></p>
                <button type="submit" class="btn btn-principal">Ingresar</button>
            </form>
        </div>
    </div>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>