<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Eats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="~{layouts/header :: header}"></header>

    <div class="mainpi">
        <div class="row contenido h-100 ps-4">
            <div class=" col h-100 d-flex flex-column justify-content-center align-items-center">
                <div>
                    <h1 class="h1 fs-4 fw-bold text-principal texto-con-borde">Porque verse bien <br>es Sentirse bien!</h1>
                </div>
                <p class="fs-4 fw-bold">Acá te ayudamos encontrar tu forma Perfecta <br> Ingresa tu Código de Usuario <br> Y podrás
                    calcular tu
                    <strong class="fs-4 fw-bold">Peso ideal</strong>
                </p>
                <div class="form-floating">
                    <form class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                            <label class="visually-hidden" for="inlineFormInputGroupUsername">Nombre de
                                usuario</label>
                            <div class="input-group">
                                <div class="input-group-text">Cod-Usuario</div>
                                <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                    placeholder="Ejm-01334">
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-principal text-white">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col h-100 d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h1 class="h1 fs-4 fw-bold text-principal texto-con-borde"> Bien hecho Johan!</h1>
                </div>
                <p class="fs-4 fw-bold">Tu peso Ideal es <br>
                    <strong class="fs-4 fw-bold">72,2 kgs.</strong>
                </p>
            </div>
            <div class="information-boxes container-fluid">
                <div class="row">
                    <div class="box col-12 col-lg-4 bg-secundario p-4 d-flex flex-column align-items-center">
                        <img th:src="@{/images/otros/testimonial.png}" class="mb-2" alt="Icino testimonio" width="38">
                        <h3 class="text-principal fs-5">Ultimo Testimonio</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quis amet culpa totam
                            distinctio
                            repellendus earum quaerat ipsa, dolor quo, ratione aut ipsum expedita similique ducimus.
                            Maxime
                            explicabo ipsa consequatur?</p>
                    </div>
                    <div class="box col-12 col-lg-4 bg-principal p-4 d-flex flex-column align-items-center">
                        <img th:src="@{/images/otros/recipe.png}" class="mb-2" alt="Icono receta" width="38">
                        <h3 class="text-white fs-5">Receta Relevante</h3>
                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quis
                            amet
                            culpa
                            totam distinctio repellendus earum quaerat ipsa, dolor quo, ratione aut ipsum expedita
                            similique
                            ducimus. Maxime explicabo ipsa consequatur?</p>
                    </div>
                    <div class="box col-12 col-lg-4 bg-secundario p-4 d-flex flex-column align-items-center">
                        <img th:src="@{/images/otros/calculator.png}" class="mb-2" alt="Icono calculadora" width="38">
                        <h3 class="text-principal fs-5">Calculadora de IMC</h3>
                        <p class="text-white text-uppercase">Tu peso es: <span>........</span></p>
                        <div class="calculator">
                            <form action="">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="Peso">
                                    <label for="floatingInput">Peso</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="Altura">
                                    <label for="floatingInput">Altura</label>
                                </div>
                                <button type="submit" class="btn btn-principal w-100">Calcular</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-links bg-secundario d-flex justify-content-center p-3 gap-3">
                <a href="#">
                    <img th:src="@{/images/redes/tik-tok.png}" alt="Logo tiktok" width="24">
                </a>
                <a href="#">
                    <img th:src="@{/images/redes/facebook.png}" alt="Logo facebook" width="24">
                </a>
                <a href="#">
                    <img th:src="@{/images/redes/instagram.png}" alt="Logo instagram" width="24">
                </a>
            </div>
            <footer th:replace="~{layouts/footer :: footer}"></footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
</body>

</html>