<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
	<header th:replace="~{layouts/header :: header}"></header>
	<div class="container-xxl my-4">
		<div class ="row gap-4 justify-content-evenly">
			<form class="d-flex mt-2" role="search" th:action="@{/testimonios/buscar-testimonio}"  method="get">
				<input name="nombre" id="nombre" class="form-control me-2" required type="search"  placeholder="Buscar Testimonio por Nombre de Autor" aria-label="Search">
				<button class="btn btn-outline-success"  type="submit">Buscar</button>
			</form>
			<div th:if="${alerta}"  class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
				<p><strong>No hubo coincidencias. </strong>Prueba con otras palabras.</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div>
				<article th:each="testimonio:${listaTestimonio}" class="lista-testimonios col-12 p-4 my-3 mb-4 px-4">
					<h3 class="fw-bold" th:text="${testimonio.titulo}" ></h3>
					<p class="text-break" style="text-align: justify;" th:text="${testimonio.getAutor().getNombre}"></p>
					<p class="text-break" style="text-align: justify;" th:text="${testimonio.fecha}"></p>
					<p class="text-break" style="text-align: justify;" th:text="${testimonio.descripcion}"><br>
					<div class="botones">
						<button class="px-0 py-1 btn btn-success"><a style="font-size:20px" class="text-white" th:href="@{/testimonios/editar-testimonios/}+${testimonio.id}"><i class="px-2 py-1 bi bi-pencil-square"></i></a></button>
						<button class="px-0 py-1 btn btn-danger"><a style="font-size:20px" class="text-white" th:href="@{/testimonios/eliminar-testimonios/}+${testimonio.id}"><i class="px-2 py-1 bi bi-x-circle"></i></a></button>
					</div>
				</article>
			</div>
		</div>	
	</div>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>